* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}





h2, h3 {
  font-family: 'Nunito', sans-serif;

}

h2 {
  color: #D9534F
}

a {
  text-decoration: none;
  color: #219F94

}

a:hover {
  color:  #219F94

}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #D9534F;
}

.MuiAppBar-positionFixed {
  position: unset;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px){
  .makeStyles-navbar-1 {
  padding: 0
  }
}



