

/* .MuiTypography-root p{
    height: 800px;
} */

/* .css-jrn8vz-MuiTypography-root{
    height: 800px;
} */

/* .MuiBox-root-css-13o6z6d{
    height: 800px;
    margin-top: 300px;
} */

/* .editTime {
    height: 600px;
} */

.step-component {
    height: 55vh;
    margin-top: 10vh;
}

.step-component h2 {
    margin-bottom: 2.3rem;
}
.step-component h3 {
    margin-top: 0.5rem;
}

.editParty-buttons-div{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}



.editParty-party-image{
    margin: 10px;
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 600px){
    .step-component {
        height: 50vh;
        margin-top: 0;
    }
}