.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  }
  
  .div1 { grid-area: 1 / 2 / 2 / 4; }
  .div2 { grid-area: 1 / 4 / 2 / 6; }
  .div3 { grid-area: 2 / 3 / 4 / 5; }

@media only screen and (max-width: 600px) {
  .div1 {
    grid-area: div1;
    margin-top: 20px;
  }
  .div2 {
    grid-area: div2;
    margin-top: 0;
    margin-bottom: 0;
  }
  .div3 {
    grid-area: div3;
    margin-top: 0;
    margin-bottom: 0;
  }

  .parent {
    grid-row-gap: 40px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "div1"
      "div2"
      "div3";
  }
}
