    .parent {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 50px;
        }

       
        
        .div1 { grid-area: 2 / 3 / 3 / 7;}
        .div2 { grid-area: 3 / 2 / 6 / 5; margin: 0 50px}
        .div3 { grid-area: 3 / 5 / 6 / 8; margin: 0 50px}
        .div4 { grid-area: 6 / 3 / 11 / 7; margin: 50px 0;}

        


        @media only screen and (max-width: 600px) {
            /* .parent {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(10, 1fr);
                grid-column-gap: 4px;
                grid-row-gap: 4px;
                }
                
                .div1 { grid-area: 3 / 1 / 4 / 2; }
                .div4 { grid-area: 4 / 1 / 6 / 2; }
                .div2 { grid-area: 6 / 1 / 8 / 2; }
                .div3 { grid-area: 8 / 1 / 9 / 2; } */

                .div1 {
                    grid-area: div1;
                }
                .div2 {
                    grid-area: div2;
                }
                .div3 {
                    grid-area: div3;
                }
                .div4 {
                    grid-area: div4;
                }
            
                .parent {
                    margin-top: 30px;
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    grid-template-areas: 
                      "div1"
                      "div4"
                      "div2"
                      "div3"
                  }
          }